@using QA.Models
@model List<Pitanje>
@{
    ViewBag.Title = "Home Page";
}

<h1>Imate li pitanje?</h1>

@using (Html.BeginForm("Index", "App", FormMethod.Get))
{
    @Html.TextBox("pitanjeTekst", "Što želite saznati?")
    <input type="submit" value="Traži" /><br />
        
        foreach (var pit in Model)
        {
            <span>@pit.pitanjeTekst</span> // treba biti sortirano po najnovijim pitanjima
        }
    <h3>Kategorije:</h3> // ispod kategorije bi trebao biti ispis kategorija iz baze
    <p>@Html.ActionLink("Prijava", "Prijava", "App")</p>
    <p>@Html.ActionLink("Registracija", "Registracija", "App")</p>
}